*{
    margin: 0;
    padding: 0;
}
:root{
    --main:rgb(20, 103, 20);
    --primary:white;
    --secondary:rgb(241, 214, 15);
}
.header{
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    background-color: rgb(20, 103, 20);
}

.logo img{
    width: 50px;
    height: 50px;
}
.nav-menu ul li{
    display: inline-block;
    margin: 0 10px;
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 16px;
}
.nav-menu ul li a:hover{
    background-color: white;
    color: rgb(84, 227, 84);
}

.accounts ul li{
    display: inline-block;
    list-style: none;
}
.accounts ul li a{
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    background-color: rgb(21, 21, 221);
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
}


.hero{
    padding: 200px 50px;
    background-image: url(./images/audiR8.jpg);
    object-fit: cover;
    
}
.hero h3,p{
    text-align: center;
    color: white;
    margin: 5px 0;
    padding: 5px;
}
.about-portal{
    padding: 200px 50px;
    background-color: rgb(20, 103, 20);
}
.about-portal h4,p{
    text-align: center;
    margin: 5px 0;
    padding: 5px;
    color: white;
}
fieldset{
    padding: 15px;
    border: 1px solid greenyellow;
    margin: 10px auto;
}

legend{
    color: rgb(31, 111, 31);
}

input{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid yellow;
    width: 90%;
}

select{
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid greenyellow;
}